<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlpacaPBeM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AlpacaPBeM.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value>alpacapbem@gmail.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UsrSMTPServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="UsrSMTPServerPort" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="GameExecutable" serializeAs="String">
                <value />
            </setting>
            <setting name="Savedgames" serializeAs="String">
                <value>C:\Users\Usr\AppData\Roaming\Dominions5\savedgames</value>
            </setting>
            <setting name="TurnEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="UsrIMAPServer" serializeAs="String">
                <value>imap.gmail.com</value>
            </setting>
            <setting name="UsrIMAPServerPort" serializeAs="String">
                <value>993</value>
            </setting>
        </AlpacaPBeM.Properties.Settings>
    </userSettings>
</configuration>